@font-face 
{
    font-family: 'Magherita';
    src: url('margherita-bold.otf') format('otf'),
         url('margherita-light.otf') format('otf'),
         url('margherita-regular.otf') format('otf'),
         url('margherita-semibold.otf') format('otf'),
         url('margheritavariablegx.ttf') format('ttf');

    font-weight: normal;
    font-style: normal;
}

body 
{
    background-image: url(/paper-1074131_640.jpg);

}

h1
{
    font-family: 'Margherita', 'Impact', 'Arial';
    text-align: center;
    color: steelblue;
}

h2
{
    text-align: center;
    text-decoration: underline;
    color:midnightblue
}
#photo 
{
    float:right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px 10px 10px 10px;
    margin-right: 30px;

}

.dw
{
    text-align: center;
    font-weight:bold;
    text-shadow:2px 4px 6px seagreen;
}

.conteneur
{
    display: inline-block;
    vertical-align: top;
    width: 85%;
}
.Expériences, .Compétences, .Langues, .Formations
    {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin-right: 2%;
    }


@media all and (max-width: 1024px)/*Pour tous les types d'écrans, si la largeur de la fenêtre ne dépasse pas 1 024 px, alors exécuter les règles CSS suivantes */
{
    .conteneur
    {
        width: auto;
    }

    #bloc_page
    {
        width: auto;
    }
    .Compétences, .Expériences, .Formations, .Langues
    {
        display:inline  
    }
}


